@(logstate: Utils.LogState)

@import Utils.{User, Admin}

@main {	
  <div id='contenu'>
    <form class="form-horizontal" id="form_reset">
      <div class="control-group">
        <label class="control-label" for="currentPassword">Mot de passe courant</label>
        <div class="controls">
          <input type="password" id="currentPassword" placeholder="Mot de passe courant">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword1">Nouveau mot de passe</label>
        <div class="controls">
          <input type="password" id="inputPassword1" placeholder="Nouveau mot de passe">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword2">Confirmez</label>
        <div class="controls">
          <input type="password" id="inputPassword2" placeholder="Nouveau mot de passe">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Définir le mot de passe</button>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div id='error_reset'>
          </div>
        </div>
      </div>
    </form>
}(logstate, 0, 0)
